html,
body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: white;
  outline: 1px solid black;
  border: none;
}

.status {
  margin-bottom: 16px;
}
